Django==3.0
django-cors-headers==3.10.1
django-filter==2.4.0
djangorestframework==3.12.4
joblib @ file:///tmp/build/80754af9/joblib_1635411271373/work
jupyter==1.0.0
jupyter-client @ file:///tmp/build/80754af9/jupyter_client_1637148478538/work
jupyter-console @ file:///tmp/build/80754af9/jupyter_console_1616615302928/work
jupyter-core @ file:///opt/concourse/worker/volumes/live/118be231-668e-4924-6cae-07a558d8a92f/volume/jupyter_core_1636537052500/work
jupyter-server @ file:///opt/concourse/worker/volumes/live/8c909028-d80d-4303-5883-52f907a3cf74/volume/jupyter_server_1616084052708/work
jupyterlab @ file:///tmp/build/80754af9/jupyterlab_1635799997693/work
jupyterlab-pygments @ file:///tmp/build/80754af9/jupyterlab_pygments_1601490720602/work
jupyterlab-server @ file:///tmp/build/80754af9/jupyterlab_server_1633419203660/work
jupyterlab-widgets @ file:///tmp/build/80754af9/jupyterlab_widgets_1609884341231/work
Keras==2.3.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
numba==0.45.1
numexpr==2.7.0
numpy==1.17.2
numpydoc==0.9.1
opencv-python==4.5.3.56
openpyxl @ file:///tmp/build/80754af9/openpyxl_1632777717936/work
pandas==0.25.1
Pillow==8.4.0
scikit-image==0.15.0
scikit-learn==0.24.1
scikit-learn-intelex==2021.20211201.94549
scipy==1.3.1
seaborn==0.9.0
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.9.4
